{% extends 'structure.html' %}

{% block title %} Tasks {% endblock title %}

{% block main %}
<h1>Tasks</h1>
<p>
  <a href="/createtask" class="pure-button pure-button-primary">New Task</a>
</p>
  <table class="pure-table pure-table-bordered">
      <thead>
        <th>Task</th>
        <th>Due Date</th>
        <th>Status</th>
        <th>Actions</th>
      </thead>
      <tbody>
        {% for task in tasks %}
        <tr>
          <td>{{task[1]}}</td>
          <td>{{task[2]}}</td>
          <td>{% if task[3] == 0 %} not done {% else %} done {% endif %}</td>
          <td><a href="/updatetask/{{task[0]}}"><i class="fas fa-edit"></i></a> - <a href="/deletetask/{{task[0]}}"><i class="fas fa-trash"></i></a></td>
        </tr>
        {% endfor %}
      </tbody>
  </table>
{% endblock main %}
